    # RewriteEngine On
    # RewriteBase /TestEnv/public/

    # # Redirection de la racine vers Accueil
    # RewriteRule ^$ Accueil [L]
    
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule ^(.*)$ index.php/$1 [QSA,L]

RewriteEngine On
RewriteBase /projet%20X/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?page=$1 [QSA,L]
