.error{
    margin: 2rem;
}

.error h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.btn-a{
    display: flex;
    justify-content: center;
}
.error a{
    padding: 0.5rem 1rem;
    background-color:#0460c2;
    color: #fff;
    border-radius: 5px ;
}